.emojione-v1flag-for-canada-icon1 {
  position: absolute;
  height: 9.95%;
  width: 12.27%;
  top: 55.19%;
  bottom: 27.86%;
  left: 12.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.product-parent {
  position: absolute;
  top: 989px;
  left: 16px;
  width: 163px;
  height: 201px;
}
