.save-and-print {
  top: 0;
  letter-spacing: -0.3px;
  line-height: 24px;
  display: inline-block;
}
.all-your-photos,
.body1,
.save-and-print {
  position: absolute;
  left: 0;
  width: 295px;
}
.body1 {
  top: 92px;
  height: 72px;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.all-your-photos {
  top: 0;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.8px;
  line-height: 34px;
  display: inline-block;
}
.content1,
.dot-icon1,
.title3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 295px;
  height: 164px;
}
.content1,
.dot-icon1 {
  top: 483px;
  left: 40px;
}
.dot-icon1 {
  top: 10px;
  left: 128px;
  width: 40px;
  height: 8px;
}
.next2,
.next3 {
  top: 0;
  width: 111px;
}
.next3 {
  position: absolute;
  left: 0;
  letter-spacing: -0.4px;
  line-height: 28px;
  display: inline-block;
}
.next2 {
  left: 184px;
  cursor: pointer;
}
.directional1,
.next2,
.skip2 {
  position: absolute;
  height: 28px;
}
.skip2 {
  top: 0;
  left: 0;
  width: 111px;
  opacity: 0.4;
  mix-blend-mode: normal;
  text-align: left;
}
.directional1 {
  top: 714px;
  left: 40px;
  width: 295px;
  text-align: right;
  font-size: var(--font-size-lg);
  font-family: var(--font-gilroy-regular);
}
.group-icon,
.onboarding-inner {
  position: absolute;
  object-fit: cover;
}
.onboarding-inner {
  height: 7.02%;
  width: 53.6%;
  top: 7.76%;
  right: 23.47%;
  bottom: 85.22%;
  left: 22.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon {
  top: 149px;
  left: 45px;
  width: 297px;
  height: 289px;
}
.onboarding1 {
  position: relative;
  background-color: var(--system-colours-default-colors-systemwhiteblack-light);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-dm-sans);
}
