.field-parent6 {
  position: absolute;
  top: 167px;
  left: 16px;
  width: 342px;
  height: 680px;
}
.icround-upload-icon8 {
  position: absolute;
  top: 720px;
  left: 313px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.add-your-shop {
  position: relative;
  background-color: var(--system-colours-default-colors-systemgrey-6-light);
  width: 100%;
  height: 1100px;
  overflow: hidden;
}
