.group-child18 {
  position: absolute;
  height: 103.33%;
  width: 100.58%;
  top: -1.67%;
  right: -0.29%;
  bottom: -1.67%;
  left: -0.29%;
  border-radius: var(--br-xs);
  background-color: var(--system-colours-default-colors-systemwhiteblack-light);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.mingcutedown-fill-icon {
  position: absolute;
  height: 26.67%;
  width: 4.36%;
  top: 36.67%;
  right: 3.83%;
  bottom: 36.67%;
  left: 91.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.activated-packages2 {
  position: absolute;
  top: 31.67%;
  left: 21.64%;
  font-weight: 500;
}
.rectangle-parent2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-ibm-plex-sans);
}
