.personal-information1 {
  position: absolute;
  top: -7px;
  left: 35.5px;
  letter-spacing: 0.2px;
  line-height: 20px;
  width: 200px;
  font-weight: 600;
}
.regularangle-small-left-icon15 {
  position: absolute;
  top: -10px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.personal-information-parent {
  position: absolute;
  top: 60px;
  left: 15px;
  width: 195.5px;
  height: 24px;
}
.personal-information {
  position: relative;
  background-color: var(--system-colours-default-colors-systemgrey-6-light);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--system-colours-label-colour-primary-light);
  font-family: var(--font-dm-sans);
}
